@font-face {
   font-family: girlw;
   src: url("../font/GIRLW___.TTF") format("truetype");
}

html {
	background-color:#cde;
}

body {
	font-family:Arial;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	margin-bottom:0px;
	width: 900px; 
	background-color:white;
	padding:20px;
}

h1 {
	font-family: girlw;
}
h1 a {
	text-decoration:none;
}