@font-face {
   font-family: girlw;
   src: url("../font/GIRLW___.TTF") format("truetype");
}
@font-face {
   font-family: oldpress;
   src: url("../font/Old Press.ttf") format("truetype");
}

html {
	background-color:#E7E2DE;
}

body {
	font-size:80%;
	font-family:Arial;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	margin-bottom:0px;
	width: 900px; 
	background-color:#EAE5E1;
	box-shadow: 0 0 3px #999999;
	-webkit-box-shadow: 0 0 3px #999999;
}

section {
	padding:10px;
}

header {
	background-color:#AAA5A1;
	height:60px;
	padding:10px;
}

footer {
	padding:10px;
	background-color:#EAE5E1;
	font-size:0.8em;
}

h2, h3, h4, h5, h6 {
	text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff; 
	/*font-family: girlw;*/
   
}

a {
	color:black;
}

ul {
	list-style-type:square;
}

h1 {
	font-family: oldpress;
	font-weight:normal;
	font-size:4em;
	margin-top:0px;

}
h1 a {
	text-decoration:none;
}

h2 {

}
h2 a {
	text-decoration:none;	
}
.code {
	border:1px solid #ddd;
	background-color:#FFE;
	padding:5px;
	overflow-x: auto;
}
a#fork {
    background-image: url("../img/forkme.png");
    display: block;
    height: 138px;
    position: fixed;
    right: -2px;
    text-indent: -9999px;
    top: -2px;
    width: 136px;
}



#play, #pause, #stop{
	width:48px;
	height:48px;
	border:0px;
	cursor:pointer;
	
}

#play{
	background:url(../img/play.png);
}
#pause {
	background:url(../img/pause.png);
}
#stop{
	background:url(../img/stop.png);	
}

#player {
	background-color:#AAA5A1;
	border-radius:10px;
	padding:10px;
	box-shadow: 0 0 3px 6px rgba(0,0,0,0.1);
	border:1px solid white;
}