<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    {% for js in page.js %}
    <script src="{{ js }}"></script>
    {% endfor %}
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ css }}" type="text/css" media="screen" title="no title" charset="utf-8">
    {% endfor %}    
  </head>
  <body>
    <header>
      <h1><a href=".">timeline-js</a></h1>
      <a id="fork" href="https://github.com/ouhouhsami/timeline-js/">Fork me hard</a>
    </header>
    <section>
      {{ content }}
    </section>
	<footer>
		© 2011 Samuel Goldszmidt
	</footer>
  </body>
</html>
